body {
  margin: 0 !important;
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.handsfree-debugger{
  width: 400px;
  position: absolute;
  top: 0;
  z-index: 9999;
}
.handsfree-pointer{
  display: none !important;
}